services:
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      USER_SERVICE: http://user-service:4003
      AGENT_SERVICE: http://agent-service:4001
      CONVERSATION_SERVICE: http://conversation-service:4002
      AI_SERVICE_URL: http://ai-service:4000
    depends_on:
      - user-service
      - agent-service
      - conversation-service
      - ai-service
    networks:
      - backend

  user-service:
    build: ./user-service
    container_name: user-service
    environment:
      PORT: 4003
      MONGO_URI: ${USER_DB}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - "4003:4003"
    networks:
      - backend

  agent-service:
    build: ./agent-service
    container_name: agent-service
    environment:
      PORT: 4001
      MONGO_URI: ${AGENT_DB}
    ports:
      - "4001:4001"
    volumes:
      - ./agent-service/uploads:/app/uploads   
    networks:
      - backend

  conversation-service:
    build: ./conversation-service
    container_name: conversation-service
    environment:
      PORT: 4002
      MONGO_URI: ${CONVERSATION_DB}
      AI_SERVICE_URL: http://ai-service:4000
      AGENT_SERVICE: http://agent-service:4001
      RETRIEVAL_SERVICE_URL: http://retrieval-service:4005
    ports:
      - "4002:4002"
    networks:
      - backend

  ai-service:
    build: ./ai-service
    container_name: ai-service
    environment:
      PORT: 4000
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      PERPLEXITY_API_KEY: ${PERPLEXITY_API_KEY}
      DEEPSEEK_API_KEY: ${DEEPSEEK_API_KEY}
    ports:
      - "4000:4000"
    networks:
      - backend



  retrieval-service:
    build: ./retrieval-service
    container_name: retrieval-service
    environment:
      PORT: 4005 
    ports:
      - "4005:4005"
    networks:
      - backend

  ingestion-service:
    build: ./ingestion-service
    container_name: backend-ingestion-service
    ports:
      - "4006:4006"
    volumes:
      - ./ingestion-service:/app   # Make sure this maps your host code into /app
    working_dir: /app
    environment:
      PORT: 4006
      MONGO_URI: ${INGESTION_DB}  # MongoDB Compass URI from .env
      EMBEDDING_SERVICE_URL: http://embedding-service:5000
networks:
  backend:
    driver: bridge