services:
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - target: 3000
        published: 3000
        protocol: tcp
        mode: host
    environment:
      PORT: 3000
      AGENT_SERVICE: http://agent-service:4001
      CONVERSATION_SERVICE: http://conversation-service:4002
      AI_SERVICE_URL: http://ai-service:4000
    depends_on:
      agent-service:
        condition: service_started
      conversation-service:
        condition: service_started
      ai-service:
        condition: service_started

  agent-service:
    build: ./agent-service
    container_name: agent-service
    environment:
      PORT: 4001
      MONGO_URI: ${AGENT_DB}
    ports:
      - target: 4001
        published: 4001
        protocol: tcp
        mode: host
    depends_on:
      mongo:
        condition: service_started

  conversation-service:
    build: ./conversation-service
    container_name: conversation-service
    environment:
      PORT: 4002
      MONGO_URI: ${CONVERSATION_DB}
      AI_SERVICE_URL: http://ai-service:4000
      AGENT_SERVICE: http://agent-service:4001
    ports:
      - target: 4002
        published: 4002
        protocol: tcp
        mode: host
    depends_on:
      mongo:
        condition: service_started
      ai-service:
        condition: service_started
      agent-service:
        condition: service_started

  ai-service:
    build: ./ai-service
    container_name: ai-service
    environment:
      PORT: 4000
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      PERPLEXITY_API_KEY: ${PERPLEXITY_API_KEY}
    ports:
      - target: 4000
        published: 4000
        protocol: tcp
        mode: host

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - target: 27017
        published: 27017
        protocol: tcp
        mode: host
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
