services:
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      AGENT_SERVICE: http://agent-service:4001
      CONVERSATION_SERVICE: http://conversation-service:4002
      AI_SERVICE_URL: http://ai-service:4000
    depends_on:
      - agent-service
      - conversation-service
      - ai-service
    networks:
      - backend

  agent-service:
    build: ./agent-service
    container_name: agent-service
    environment:
      PORT: 4001
      MONGO_URI: ${AGENT_DB}
    ports:
      - "4001:4001"
    depends_on:
      - mongo
    networks:
      - backend

  conversation-service:
    build: ./conversation-service
    container_name: conversation-service
    environment:
      PORT: 4002
      MONGO_URI: ${CONVERSATION_DB}
      AI_SERVICE_URL: http://ai-service:4000
      AGENT_SERVICE: http://agent-service:4001
    ports:
      - "4002:4002"
    depends_on:
      - mongo
      - ai-service
      - agent-service
    networks:
      - backend

  ai-service:
    build: ./ai-service
    container_name: ai-service
    environment:
      PORT: 4000
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      PERPLEXITY_API_KEY: ${PERPLEXITY_API_KEY}
    ports:
      - "4000:4000"
    networks:
      - backend

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
    networks:
      - backend

networks:
  backend:
    driver: bridge
